{% extends "pages/base_page.html" %}
{% block title %} About Us {% endblock %}
{% block head %} About Al-Ansar Mosque {% endblock %}
{% block content %}
<div class="aboutus-message">
    <h2>Our Mission</h2>
    <p> Here at Al-Ansar, we strive to build a sense of unity within the local community by providing prayer and ablution faciclities to the brothers and sisters, a madrasah to children and having open arms to the public who can visit us at any time. </p>

    <h2> Join Us </h2>
    <p>We invite you in joinig us and supporting our cause. Currently, we are trying to expand and rennovate the mosque area and so we kindly ask for donations to help our project. </p>
    <hr>
    <h2> Bank Details </h2>
    <p> Masjid Maintenance & Development: <br>A/C Name: SRI LANKAN MUSLIM FOUNDATION <br>A/C: 73723801     S/C:20-49-17 </p>
    <br><br>
    <p> Funeral Account: <br>A/C Name: SRI LANKAN MUSLIM FOUNDATION <br>A/C: 70016373 S/C:20-49-17 </p>

</div>
{%endblock%}
