<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
     
       <title>{%block title%}{%endblock%}</title> 
       <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='icon.jpg') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {%block scripts %}{%endblock%}
    
    </head>
    
    <body style="background-color: rgb(222, 211, 184);">
        <nav class="navbar">
            <ul>
                <li> <a href="{{ url_for('routes.index') }}"> Home</a> </li>
                <li>
                    <a href="/"> Menu </a>
                    <ul class="dropdown">
                        <li> <a href="{{ url_for('routes.prayertime') }}" > Prayer Timetable </a></li>
                        <li> <a href="{{ url_for('routes.nikah') }}" > Nikah </a></li>
                        <li> <a href="{{ url_for('routes.madrasah') }}" > Madrasah </a></li>
                        <li> <a href="{{ url_for('routes.functions') }}" > Functions </a></li>
                        <li> <a href="{{ url_for('routes.tour') }}" > Tour </a></li>
                        <li> <a href="{{ url_for('routes.aboutus') }}" > About Us </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>{%block head %}{%endblock%}</h1>

        </div>

        
        {%block content%}{%endblock%}


        {%block graph%}{%endblock%}
        <hr>
        <footer style="text-align: center;">Copyright © 2025 Al-Ansar Mosque | Designed By Hudaifa </footer>
    </body>

</html>