{% extends "pages/base_page.html" %}
{% block scripts %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endblock %}
{% block title %} Functions {% endblock %}
{% block head %} Functions at Masjid Al-Ansar {% endblock %}
{% block content %}
<div class="function-message">
    <h2> Functions </h2>
    <p> If you wish to hold a function for a momentous occasion,there is a fee of £130. Please feel free to make an appointment to discuss the arrangments with a committee member. We ask that you make the appointment a week earlier to your planned date. </p>

    <h3> Book a Function </h3>
    <p> Please use the graph below to see popular time periods and make decisions accordingly.</p>    
</div>
<a href="http://127.0.0.1:5000/functionbooking"> <button>Book a Function</button> </a>  
<br> <hr>
{%endblock%}

{% block graph %}
<form id="filter" action="{{ url_for('routes.functions') }}" method="POST">
    <br>Choose a filter:     <select id="filter" name="filter">
        <option value="{{ option }}"> {{ option }} </option>
        <option value="Yearly"> Yearly </option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
    <br><input type="submit" value="Submit" /><br>
</form>

<!-- Wrap the canvas in a centered container -->
<div class="graph-container">
    <canvas id="myChart"></canvas>
</div>

<script>
    let number_of_bookings = JSON.parse({{ number_of_bookings | tojson }});
    let labels = JSON.parse({{ labels | tojson }});
    const ctx = document.getElementById('myChart').getContext('2d');
    let number_of_bookings_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Function Bookings',
                data: number_of_bookings,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1, 
                    callback: function(value) {
                        if (Number.isInteger(value)) {
                            return value;
                        }
                    }
                }
                                    
                }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false // Allow the chart to adjust its aspect ratio
        }
    });
</script>
{% endblock %}
