<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1"> 
     
       <title>Masjid Al-Ansar</title> 
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    
    </head>
    
    <body style="background-color: rgb(222, 211, 184);">
        <nav>
            <ul>
                <li> <a href="{{ url_for('routes.index') }}"> Home</a> </li>
                <li>
                    <a href="/"> Menu </a>
                    <ul class="dropdown">
                        <li> <a href="/nikah" > Nikah </a></li>
                        <li> <a href="/madrasah" > Madrasah </a></li>
                        <li> <a href="/service" > Service </a></li>
                        <li> <a href="/tours" > Tours </a></li>
                        <li> <a href="/about-us" > About Us </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1> Welcome to Masjid Al-Ansar </h1>

        </div>

        <hr>
        
        <p>Welcome to Masjid Al Ansar </p>
        <p>    
        The Masjid offers the five Daily Prayers (Salaah), Jumuah prayers, and provides facilities for the Madrassah.
            
        Additionally, Masjid Al Ansar welcomes school visits, hosts Nikah ceremonies and offers a variety of classes including those specifically for women. 
        </p>
        <p>
        Phasellus ornare sit amet nulla non posuere. Maecenas sodales ante rhoncus varius faucibus. Duis elit felis, ullamcorper mattis dolor sit amet, vulputate sollicitudin ipsum. Vivamus venenatis mollis leo, a tempus lectus aliquam a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse convallis porta diam, et porttitor sem viverra a. Vivamus vestibulum porttitor turpis at consectetur.
        </p>


    
    </body>

</html>