{% extends "pages/base_page.html" %}
{% block title %} Al-Ansar Mosque {% endblock %}
{% block head %} 
Welcome to Al-Ansar Mosque 
{% endblock %}
{% block content %}
<div class="welcome-message">
    <p> Here at Al-Ansar Mosque we provide facilities to both brothers and sisters for the 5 daily prayers, Friday prayers and the Madrasah classes for children.</p>
    <p> Additionally we host Nikah ceremonies and welcome visits from anyone who wish to do a tour of the mosque.</p>
    <p>Feel free to navigate around our website and to look at any service you are interested in.</p> <br>
    <p> Use the links below to learn more about the mosque or if you are interested in the prayer times.</p> <br>
    <a href="/about-us"><button type="submit" >About Us</button> </a><br><br>
    <a href="/prayer-timetable"><button type="submit" >Prayer Times</button> </a><br>
</div>

{%endblock%}