{% extends "pages/base_page.html" %}
{% block scripts %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endblock %}
{% block title %} Madrasah {% endblock %}
{% block head %} Madrasah at Masjid Al-Ansar {% endblock %}
{% block content %}
<div class="madrasah-message">
    <h2> What is a Madrasah? </h2>
    <p> A madrasah is the Islamic classes that aim to teach Islamic beliefs. </p><br>

    <h3> Our Madrasah </h3>
    <p> Currently our madrasah teaches both boys and girls between 10-18, the following courses: </p><br>
    <li> Hifdh Class </li>
    <li> Aadab Class </li> <br>

    <h3> Erollement </h3>
    <p> If you wish to enrol your child/children then please complete a form for each child. You will then have an appointment with the madrasah teacher to determine if the class is suitable for your child or if you need to raise any concerns with us about the madrasah or your child. A link will be sent regarding your appointment and will also allow you to edit/delete the appointment. </p>
    <p>The below bar chart shows you how many madrasah appointments have been made so far. Please understand that sometimes it can become very busy when making an apppointment. </p>
</div>
<a href="http://127.0.0.1:5000/madrasahbooking"> <button>Enrol Your Child Now</button> </a>  
<br> <hr>
{%endblock%}
{% block graph %}
<form id="filter" action="{{ url_for('routes.madrasah') }}" method="POST">
    <br>Choose a filter:     <select id="filter" name="filter">
        <option value="{{ option }}"> {{ option }} </option>
        <option value="Yearly"> Yearly </option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
    <br><input type="submit" value="Submit" /><br>
</form>

<!-- Wrap the canvas in a centered container -->
<div class="graph-container">
    <canvas id="myChart"></canvas>
</div>

<script>
    let number_of_bookings = JSON.parse({{ number_of_bookings | tojson }});
    let labels = JSON.parse({{ labels | tojson }});
    const ctx = document.getElementById('myChart').getContext('2d');
    let number_of_bookings_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Madrasah Bookings',
                data: number_of_bookings,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1, 
                    callback: function(value) {
                        if (Number.isInteger(value)) {
                            return value;
                        }
                    }
                }
                                    
                }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false // Allow the chart to adjust its aspect ratio
        }
    });
</script>
{% endblock %}
