<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1"> 
     
       <title>Nikah - Masjid Al-Ansar</title> 
    
    </head>
    
    <body style="background-color: rgb(222, 211, 184);">
        <h1>Nikah at Masjid Al-Ansar </h1>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nunc magna. Donec augue dui, molestie eu finibus id, euismod sed lacus. Nullam quis scelerisque nulla. Curabitur elementum ac mi ac efficitur. Quisque elementum urna diam, consequat semper tortor ullamcorper a. Nulla facilisi. Proin non lacus vel velit blandit porta rutrum vitae purus. Phasellus a nunc at nisi porta volutpat. Quisque tincidunt dui eu dui pharetra posuere. Nunc id libero ultricies, faucibus tellus vitae, efficitur mi. Nunc sit amet metus lacinia, tempus ipsum eget, efficitur libero. Proin accumsan risus vitae gravida sodales. Nullam malesuada, velit sed lacinia semper, erat arcu semper tellus, ac viverra nunc turpis at enim. Fusce vehicula augue metus, nec fermentum metus commodo eget. Sed tortor enim, consequat non tempus quis, pulvinar vitae ligula. Duis hendrerit vulputate felis quis porttitor. 
        </p>
        <p>
        Phasellus ornare sit amet nulla non posuere. Maecenas sodales ante rhoncus varius faucibus. Duis elit felis, ullamcorper mattis dolor sit amet, vulputate sollicitudin ipsum. Vivamus venenatis mollis leo, a tempus lectus aliquam a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse convallis porta diam, et porttitor sem viverra a. Vivamus vestibulum porttitor turpis at consectetur.
        </p>
        <hr>
        <a href="http://127.0.0.1:5000/nikahbooking">
            <button>Book Nikah Now</button>
         </a>


    
    </body>

</html>