{% extends "pages/base_page.html" %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block title %} Nikah {% endblock %}
{% block head %} Nikah at Al-Ansar Mosque {% endblock %}
{% block content %}
<div class="nikah-message">
    <h2> What is a Nikah? </h2>
    <p> Nikah is the Islamice ceremony for the marriage contracts. </p><br>

    <h3> Documentation Required: </h3>
    <li>Bride and Bridegroom’s birth certificates and passports.</li>
    <li>If names have changed the original copy of the Deed Poll document.</li>
    <li>If previously divorced the original copy of the ‘Decree Absolute’ or Islamic/Sharia ‘Talak’ document.</li>
    <li>If widowed a copy of the former spouses death certificate.</li>
    <li>Original copy of the Civil Marriage Certificate.</li>
    <li>Nikah fee of £130 with your completed application form and relevant documentation.</li> <br>

    <h3> Important Points: </h3>
    <li>This pious act must be with the approval of parents and/or next of kin.</li>
    <li>The bride or groom must reside in Leicester/Leicestershire.</li>
    <li>Ensure you follow procedures carefully and provide accurate information.</li>
    <li>We will not rebook another person's booking for your own convenience. </li> <br> 



    <h3> Booking a Nikah </h3>
    <p> When booking a Nikah, we recommend that an appointment is booked a week in advance.You may use the below bar chart to see whether or not your Nikah is booked in a busy time period. If a timeslot is unavailable, it means that another person has already booked it. You can still try and book an earlier or later slot if they are available. </p>
    <p>If you appointment is successful, we will send you a link regarding your it which you can then decide to edit or delete.</p>

</div>
<a href="http://127.0.0.1:5000/nikahbooking"> <button>Book Nikah Now</button> </a>  
<br> <hr>
{%endblock%}

{% block graph %}
<form id="filter" action="{{ url_for('routes.nikah') }}" method="POST">
    <br>Choose a filter:     <select id="filter" name="filter">
        <option value="Yearly"> All Years </option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
    <br><input type="submit" value="Submit" /><br>
</form>

<div class="graph-container">
    <canvas id="myChart"></canvas>
</div>

<script>
    let number_of_bookings = JSON.parse({{ number_of_bookings | tojson }});
    let labels = JSON.parse({{ labels | tojson }});
    const ctx = document.getElementById('myChart').getContext('2d');
    let number_of_bookings_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Nikah Bookings',
                data: number_of_bookings,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1, 
                    callback: function(value) {
                        if (Number.isInteger(value)) {
                            return value;
                        }
                    }
                }
                                    
                }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false // Allow the chart to adjust its aspect ratio
        }
    });
</script>
{% endblock %}