{% extends "pages/base_page.html" %}
{% block scripts %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endblock %}
{% block title %} Tours {% endblock %}
{% block head %} Tours at Al-Ansar Mosque {% endblock %}
{% block content %}
<div class="tour-message">
    <h2> Tour of the Mosque </h2>
    <p> Our mosque offers guided tours to those who are interested/learning about Islam.</p>
    <p> We welcome everyone of different faiths and beliefs to visit our mosque to no expense. </p>
    <p> The below chart shows the amount of tours we receive. </p>


    <h3> What to Expect? </h3>
    <p> Below are the list of matters that are discussed during the tour:</p>
    <li>Welcome briefing</li>
    <li>Guided tour of Ablution facilities</li>
    <li>Guided tour of Educational facilities</li>
    <li>Guided tour of prayer hall</li>
    <li>Explanation of your selected topics (please notify us in advance)</li>
    <li>Q &amp; A session</li>
    <li>Refreshments</li>    

    <h3> Book a Tour </h3>
    <p> If you wish to book a tour of the mosque, please complete the form below to make an appointment. This will allow us to further discuss any necessary arrangements for your tour. A link will be sent to your email, which allow you to edit or delete your appointment. </p>   
</div>
<a href="http://127.0.0.1:5000/tourbooking"> <button>Make a Tour</button> </a>  
<br> <hr>
{%endblock%}
{% block graph %}
<form id="filter" action="{{ url_for('routes.tours') }}" method="POST">
    <br>Choose a filter:     <select id="filter" name="filter">
        <option value="{{ option }}"> {{ option }} </option>
        <option value="Yearly"> Yearly </option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
    <br><input type="submit" value="Submit" /><br>
</form>

<!-- Wrap the canvas in a centered container -->
<div class="graph-container">
    <canvas id="myChart"></canvas>
</div>

<script>
    let number_of_bookings = JSON.parse({{ number_of_bookings | tojson }});
    let labels = JSON.parse({{ labels | tojson }});
    const ctx = document.getElementById('myChart').getContext('2d');
    let number_of_bookings_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Tour Bookings',
                data: number_of_bookings,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1, 
                    callback: function(value) {
                        if (Number.isInteger(value)) {
                            return value;
                        }
                    }
                }
                                    
                }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false // Allow the chart to adjust its aspect ratio
        }
    });
</script>
{% endblock %}
