<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title> {%block title%}{%endblock%} </title>
    {% block style %} {% endblock %}
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='icon.jpg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#send_email').click(function(event) {
                event.preventDefault(); 
        
                var form = $('form')[0];
                var verification_code = $('#verification-code')[0];
                var required_attributes = verification_code.hasAttribute('required');
                verification_code.removeAttribute('required');
                
                if (form.checkValidity()) { 
                    if (required_attributes) {
                        verification_code.setAttribute('required', 'required');
                    }
        

                    var formData = $(form).serialize(); 
                    
                    $.ajax({
                        type: 'POST',
                        url: '/verification/{{ service }}',
                        data: formData,
                        success: function(response) {
                            if (response.redirect_url) {
                                window.location.href = response.redirect_url; 
                            } else {
                                alert(response.message); 
                            }
                        },
                        error: function() {
                            alert('There was an error sending the verification email. Please try again later.');
                        }
                    });
                } else {
                    form.reportValidity();
                }
            });
        

            $('#submit_form').click(function(event) {
                event.preventDefault(); 
        
                var form = $('form')[0]; 
                var verification_code = $('#verification-code')[0];
        
                if (!verification_code.value) {
                    alert("Please enter the verification code.");
                    verification_code.focus(); 
                    return;
                }
        
                if (form.checkValidity()) {
                    var formData = $('#{{ form_id }}').serialize();  
                    
                    $.ajax({
                        type: 'POST',
                        url: '{{ action_url }}',  
                        data: formData,
                        success: function (response) {
                            if (response.redirect_url) {
                                window.location.href = response.
                                redirect_url;
                            } else [
                                alert(response.message)
                            ]
                            
                        },
                        error: function () {
                            alert('Error submitting the form');
                        }
                    });
                } else {
                    form.reportValidity();
                }
            });
        });
        </script>
</head>
<body style="background-color: rgb(222, 211, 184);">

    <nav>
        <ul>
            <li> <a href="{{ url_for('routes.index') }}"> Home</a> </li>
            <li>
                <a href="#"> Menu </a>
                <ul class="dropdown">
                    <li> <a href="{{ url_for('routes.prayertime') }}" > Prayer Timetable </a></li>
                    <li> <a href="{{ url_for('routes.nikah') }}" > Nikah </a></li>
                    <li> <a href="{{ url_for('routes.madrasah') }}" > Madrasah </a></li>
                    <li> <a href="{{ url_for('routes.functions') }}" > Functions </a></li>
                    <li> <a href="{{ url_for('routes.tour') }}" > Tour </a></li>
                    <li> <a href="{{ url_for('routes.aboutus') }}" > About Us </a></li>
                </ul>
            </li>
        </ul>
    </nav>   
    
    <h1> {%block head%} {%endblock%} </h1>

    <!--REMOVE ALL TESTING VALUE AFTER COMPLETION-->
    <form id = "{{ form_id }}" method = 'POST' action="{{ action_url }}" autocomplete="off">

        <div>
            <label for='first-name'>{%block label1 %}{%endblock%}</label>
            <input type = 'text' id="first-name" name="first_name" value="Testing Value" required>
        </div>

        <br>

        <div>
            <label for='last-name'>{%block label2%} {%endblock%}</label>
            <input type = 'text' id= "last-name" name="last_name" value="Testing Value" required>
        </div>

        <br>
        
        <div>
            <label for ='email'> Email: </label>
            <input type="email" id="email" name="email" placeholder="youremail@gmail.com" value="verificationmasjidalansar@proton.me" required>
        </div>

        <br>

        <div>
            <label for='phone-number'>Phone Number:</label>
            <input type="tel" id="phone-number" name="phone_number" placeholder="+447627256926"  pattern="[0-9]{10}">
        </div>

        <br>

        {% block content %} {%endblock%}
        
        <div>
            <label for=" date"> Date of Booking: </label>
            <input type="date" id="date" name="date" min="2025-01-01" max="2026-12-31" required>
        </div>

        <br>

        <div>
            <label for=" time"> Time of Booking: </label>
            <input type="time" id="time" name="time" step= "900" min="16:30:00" max="21:00:00" required>
        </div>
        
        <br>
        
        <button type="submit" id="send_email" name="verification-email" formaction="/verification" >Send Verification Email</button>
        <br><br>

        <label for="verification-code">Verification Code:</label>
        <input type="number" id="verification-code" name="verification-code" required><br><br>
        
        <button type="submit" id="submit_form" formaction="{{ action_url }}" >Submit Form</button>

    </form>
    {% block scripts %} {% endblock %}       
</body>    
</html>