<!DOCTYPE html>

<html lang="en">
<head>

    <title> {%block title%}{%endblock%} </title>
    {% block style %} {% endblock %}

</head>

<body>

    <h1> {%block head%} {%endblock%} </h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form id = "{{ form_id }}" method = 'POST' onsubmit=" return validateForm()" action="{{ action_url }}" autocomplete="off">

        <div>
            <label for='first-name'>{%block label1 %}{%endblock%}</label>
            <input type = 'text' id="first-name" name="first_name" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" required>
        </div>

        <br>

        <div>
            <label for='last-name'>{%block label2%} {%endblock%}</label>
            <input type = 'text' id= "last-name" name="last_name" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" required>
        </div>

        <br>
        
        <div>
            <label for ='email'> Email: </label>
            <input type="email" id="email" name="email" placeholder="youremail@gmail.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required>
        </div>

        <br>

        <div>
            <label for='phone-number'>Phone Number:</label>
            <input type="tel" id="phone-number" name="phone_number">
        </div>

        <br>

        {% block content %} {%endblock%}
        
        <div>
            <label for=" date"> Date of Booking: </label>
            <input type="date" id="date" name="date" min="2024-01-02" max="2030-01-01" required>
        </div>

        <br>

        <div>
            <label for=" time"> Time of Booking: </label>
            <input type="time" id="time" name="time" step= "600" min="16:45:00" max="19:30:00" required>
        </div>
        
        <br>
        
        <div>
            <label for ='VerificationCode'>Verification Code:</label>
            <input type = 'number' id="verification_code" name="verification_code" required>
        </div>

        <br>

        <div>
            <button type="submit" formaction="{{ url_for('routes.verification') }}"> Send Verification Email </button>
        </div>

        <br>

        <div>
            <input type="reset">
        </div>

        <br>

        <div>
            <button type="submit"> Submit </button>
        </div>            

    </form> 
    {% block scripts %} {% endblock %}       
</body>    
</html>