<!DOCTYPE html>

<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    <h1>{% block head %}{% endblock %}</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {%block form%}{% endblock%}
        <div>
            <label for='first-name'>First Name:</label>
            <input type = 'text' id="first-name" name="first_name" placeholder="Hudaifa" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" required>
        </div>

        <br>

        <div>
            <label for='last-name'>Last Name:</label>
            <input type = 'text' id= "last-name" name="last_name" placeholder="Mohamed" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" required>
        </div>

        <br>
        
        <div>
            <label for ='email'> Email: </label>
            <input type="email" id="email" name="email" placeholder="youremail@gmail.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required>
        </div>

        <br>

        <div>
            <label for='phone-number'>Phone Number:</label>
            <input type="tel" id="phone-number" name="phone_number">
        </div>

        <br>

        {%block content%}{%endblock%}

        <br>
        
        <div>
            <label for="date"> Date of Booking: </label>
            <input type="date" id="date" name="date" min="2024-01-02" max="2027-01-01" required>
        </div>

        <br>

        <div>
            <label for="time"> Time of Booking: </label>
            <input type="time" id="time" name="time" step= "600" min="16:45:00" max="19:30:00" required>
        </div>
        
        <br>

        <div>
            <input type="reset">
        </div>

        <br>

        <div>
            <button type="submit"> Submit </button>
        </div>            

    </form>
</body>    
</html>