{% extends "forms/base_form.html" %}

{% block title %} Function Booking {% endblock %}

{% block head %} Function Form {% endblock %}

{%block label1 %} First Name: {%endblock%}

{%block label2 %} Last Name: {%endblock%}

{% block content %}

<div>
    <label for="date-of-birth">Date of Birth: </label>
    <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" placeholder="NOT REQUIRED">
</div>

<br>
<div>
    <label for="event_type">Event Type:</label>
    <select id="event_type" name="event_type" >
        <option value="">--Choose an option--</option>
        <option value="Aqiqah">Aqiqah</option>
        <option value="Walimah">Walimah</option>
        <option value="Other">Other</option>
    </select>
</div>
<br>


<div>
    <label for ='address-line'>Address Line:</label>
    <input type = 'text' id="address-line" name="address_line" placeholder="39 Edgehill Rd" required>
</div>

<br>

<div>
    <label for ='post-code'>Post Code:</label>
    <input type = 'text' id="post-code" name="post_code" placeholder="LE4 9EA"  required>
</div>

<br>

<div>
    <label for="payment_method">Select a payment method for £130:</label>
    <select id="payment_method" name="payment_method">
        <option value="">--Choose an option--</option>
        <option value="CARD">CARD</option>
        <option value="CASH">CASH</option>
    </select>
</div>

<br>
{%endblock%}
