{% extends "forms/base_form.html" %}
{% block title %} Madrasah Booking {% endblock %}
{% block head %} Madrasah Form {% endblock %}
{%block label1 %} Parent's First Name: {%endblock%}
{%block label2 %} Parent's Last Name: {%endblock%}
{% block content %}
<div>
    <label for="parent-date-of-birth"> Parent's Date of Birth (Optional): </label>
    <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" placeholder="NOT REQUIRED">
</div>

<br>

<div>
    <label for ='child-fname'>Child's First Name:</label>
    <input type = 'text' id="child-fname" name="child_fname"value="Testing Value" required>
</div>

<br>

<div>
    <label for ='child_lname'>Child's Last Name:</label>
    <input type = 'text' id="child-lname" name="child_lname" value="Testing Value" required>
</div>

<br>

<div>
    <label for=" child-date-of-birth"> Child's Date of Birth: </label>
    <input type="date" id="child-date-of-birth" name="child_date_of_birth" min="2000-01-01" max="2020-01-01" required>
</div>

<br>
{%endblock%}