{% extends "forms/base_form.html" %}

{% block title %} Nikah Booking {% endblock %}

{% block head %} Nikah Form {% endblock %}

{%block label1 %} First Name of Organiser: {%endblock%}

{%block label2 %} Last Name of Organsier: {%endblock%}

{% block content %}

<div>
    <label for="date-of-birth">Organiser's Date of Birth: </label>
    <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" placeholder="Optional">
</div>

<br>

<div>
    <label for='groom-first-name'>Groom's First Name:</label>
    <input type = 'text' id= "groom-first-name" name="groom_first_name" placeholder="Groom's First Name" value="Testing Value" required>
</div>

<br>    

<div>
    <label for='groom-last-name'>Groom's Last Name:</label>
    <input type = 'text' id= "groom-last-name" name="groom_last_name" placeholder="Groom's Last Name" value="Testing Value" required>
</div>

<br>    

<div>
    <label for='bride-first-name'>Bride's First Name:</label>
    <input type = 'text' id= "bride-first-name" name="bride_first_name" placeholder="Bride's First Name" value="Testing Value" required>
</div>

<br>    

<div>
    <label for='bride-last-name'>Bride's Last Name:</label>
    <input type = 'text' id= "bride-last-name" name="bride_last_name" placeholder="Bride's Last Name" value="Testing Value" required>
</div>

<br>

<div>
    <label for ='address-line'>Address Line:</label>
    <input type = 'text' id="address-line" name="address_line" placeholder="39 Edgehill Rd" required>
</div>

<br>

<div>
    <label for ='post-code'>Post Code:</label>
    <input type = 'text' id="post-code" name="post_code" placeholder="LE4 9EA"  required>
</div>

<br>

<div>
    <label for="payment_method">Select a payment method for £130:</label>
    <select id="payment_method" name="payment_method" >
        <option value="">--Choose an option--</option>
        <option value="CARD">CARD</option>
        <option value="CASH">CASH</option>
    </select>
</div>

<br>
{%endblock%}