{% extends "forms/base_form.html" %}
{% block title %} Tours Booking {% endblock %}
{% block head %} Tours Form {% endblock %}
{%block label1 %} Organiser's First Name: {%endblock%}
{%block label2 %} Organiser's Name: {%endblock%}
{% block content %}
<div>
    <label for="organiser-date-of-birth"> Organiser's Date of Birth (Optional): </label>
    <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" placeholder="NOT REQUIRED">
</div>

<br>

<div>
    <label for ='number_of_people'>Number Of People:</label>
    <input type = 'number' id="number_of_people" name="number_of_people" required>
</div>

<br>

<div>
    <label for ='address-line'>Address Line:</label>
    <input type = 'text' id="address-line" name="address_line" placeholder="39 Edgehill Rd" required>
</div>

<br>

<div>
    <label for ='post-code'>Post Code:</label>
    <input type = 'text' id="post-code" name="post_code" placeholder="LE4 9EA"  required>
</div>

<br>

{%endblock%}