{% extends "forms/base_form.html" %}
{% block title %} Tour Booking {% endblock %}
{% block head %} Tour Form {% endblock %}
{%block label1 %} Organiser's First Name: {%endblock%}
{%block label2 %} Organiser's Name: {%endblock%}
{% block content %}
<div>
    <label for="organiser-date-of-birth"> Organiser's Date of Birth (Optional): </label>
    <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" placeholder="optional">
</div>

<br>

<div>
    <label for ='number_of_people'>Number Of People:</label>
    <input type = 'number' id="number_of_people" name="number_of_people" max="110" required>
</div>

<br>

<div>

    <label for="event_type">Event Type:</label>
    <select id="event_type" name="event_type" >
        <option value="">--Choose an option--</option>
        <option value="Educational">Educational</option>
        <option value="Community Engagement">Community Engagement</option>
        <option value="Other">Other</option>
    </select>
</div>

<br>

{%endblock%}