<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1"> 
     
       <title>{%block title%}{%endblock%}</title> 
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    
    </head>
    
    <body style="background-color: rgb(222, 211, 184);">
        <nav>
            <ul>
                <li> <a href="{{ url_for('routes.index') }}"> Home</a> </li>
                <li>
                    <a href="/"> Menu </a>
                    <ul class="dropdown">
                        <li> <a href="/nikah" > Nikah </a></li>
                        <li> <a href="/madrasah" > Madrasah </a></li>
                        <li> <a href="/service" > Service </a></li>
                        <li> <a href="/tours" > Tours </a></li>
                        <li> <a href="/about-us" > About Us </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>{%block head%} {%endblock%} </h1>

        </div>

        <hr>
        <table class="center"    border="1px">
            <thead>
                <td><strong>User ID</strong></td>
                <td><strong>{%block label1 %} {%endblock%}</strong></td>
                <td><strong>{%block label2 %} {%endblock%}</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>PhoneNumber</strong></td>
                <td><strong>DoB</strong></td>
                {%block content %} {%endblock%}    
                <td></td>
                <td></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["UserID"] }}</td>
                <td>{{ row["FirstName"] }}</td>
                <td> {{ row["LastName"]}}</td>
                <td>{{ row["Email"] }}</td>
                <td>{{ row["PhoneNumber"] }}</td>
                <td>{{ row["DoB"] }}</td>
                <td>{{ row["GroomFirstName"] }}</td>
                <td>{{ row["GroomLastName"] }}</td>
                <td>{{ row["BrideFirstName"] }}</td>
                <td>{{ row["BrideLastName"] }}</td>
                <td>{{ row["AddressLine"] }}</td>
                <td>{{ row["PostCode"] }}</td>
                <td>{{ row["PaymentMethod"] }}</td>


                <td><form action="{{url_for('routes.addnikah')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit"></form> </td>
            </tr>
            {% endfor %}
        </table>

    
    </body>

</html>