{% extends "tables/base_table.html" %}
{% block title %} Your Madrasah Booking {% endblock %}
{% block head %} Editing Your Madrasah Booking {% endblock %}
{% block id %} MadrasahID {% endblock %}
{% block content %}
<table border="1px">
    <thead>
        <td><strong>Child First Name</strong></td>
        <td><strong>Child Last Name</strong></td>
        <td><strong>Child Date of Birth</strong></td>
        <td><strong>Time</strong></td>
        <td><strong>Date</strong></td><br>
        <td></td>
        <td></td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["ChildFirstName"] }}</td>
        <td>{{ row["ChildLastName"] }}</td>
        <td>{{ row["ChildDoB"] }}</td>
        <td>{{ row["Time"] }}</td>
        <td>{{ row["Date"] }}</td>
        <td><form action="/edit/madrasah" method="POST"><input type="hidden" name="userid" value="{{ row['UserID'] }}"><input type="submit" value="Edit"></form> </td>
        <td><form onsubmit="return confirm('There is no gurantee that you can make this same booking again.\n Are you sure you want to DELETE this madrasah booking?');" action="/delete/madrasah" method="POST"><input type="hidden" name="userid" value="{{ row['UserID'] }}"><input type="submit" value="Delete"></form> </td>

    </tr>
    {% endfor %}
</table>
{%endblock%}
