{% extends "tables/base_table.html" %}
{% block title %} Nikah Table {% endblock %}
{%block head%} WEEEEEEEEEEEEEEEEEEEEEEEEE {%endblock%}
{%block label1%} First Name of Organsier {%endblock%}
{%block label2%} Last Name of Organsier {%endblock%}
{%block content%}
<td><strong>Groom First Name</strong></td>
<td><strong>Bride First Name</strong></td>
<td><strong>Bride Last Name</strong></td>
<td><strong>Address Line</strong></td>
<td><strong>Post Code</strong></td>
<td><strong>Payment Method</strong></td>
{%endblock%}