{% extends "pages/base_page.html" %}
{% block title %} Your Tour Booking {% endblock %}
{% block head %} Editing Your Tour Booking {% endblock %}
{% block content %}
<table border="1px">
    <thead>
        <td><strong>UserID</strong></td>
        <td><strong>TourID</strong></td>
        <td><strong>Organiser's First Namw</strong></td>
        <td><strong>Organiser's Last Name</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Phone Number</strong></td>
        <td><strong>Organiser's Date of Birth</strong></td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["UserID"] }}</td>
        <td>{{ row["TourID"] }}</td>
        <td>{{ row["FirstName"]}}</td>
        <td>{{ row["LastName"] }}</td>
        <td>{{ row["Email"] }}</td>
        <td>{{ row["PhoneNumber"] }}</td>
        <td>{{ row["DoB"] }}</td>
    </tr>
    {% endfor %}
</table> <br>

<table border="1px">
    <thead>
        <td><strong>Number Of People</strong></td>
        <td><strong>Time</strong></td>
        <td><strong>Date</strong></td><br>
        <td></td>
        <td></td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["NumberOfPeople"] }}</td>
        <td>{{ row["Time"] }}</td>
        <td>{{ row["Date"] }}</td>
        <td><form action="/edit/tour" method="POST"><input type="hidden" name="userid" value="{{ row['UserID'] }}"><input type="submit" value="Edit"></form> </td>
        <td><form onsubmit="return confirm('There is no gurantee that you can make this same booking again.\n Are you sure you want to DELETE this tour booking?');" action="/delete/tour" method="POST"><input type="hidden" name="userid" value="{{ row['UserID'] }}"><input type="submit" value="Delete"></form> </td>

    </tr>
    {% endfor %}
</table>
{%endblock%}