{% extends "forms/edit_forms/base_edit_form.html" %}
{% block title %} Edit Your Nikah {% endblock %}
{% block head %} Your Nikah Form {% endblock %}

{% block content %}
{% for row in rows %}
<form id = "{{ form_id }}" method = 'POST' action="{{ action_url }}" autocomplete="off">

    <input type="hidden" id="UserID" name="UserID" value="{{ row['UserID']}}"/>
    
    <input type="hidden" name="NikahID" value="{{ row['NikahID'] }}"/>

    <input type="hidden" name="email" value="{{ row['Email'] }}"/><br>

    <div>
        <label for='first-name'> Organiser's First Name: </label>
        <input type = 'text' id="first-name" name="first_name" value="{{row['FirstName']}}" required>
    </div>

    <br>

    <div>
        <label for='last-name'> Organiser's Last Name: </label>
        <input type = 'text' id= "last-name" name="last_name" value="{{ row['LastName'] }}" required>
    </div>

    <br>
    

    <div>
        <label for='phone-number'>Phone Number:</label>
        <input type="tel" id="phone-number" name="phone_number" placeholder="+447627256926" value="{{ row['PhoneNumber'] }}" pattern="[0-9]{10}">
    </div>

    <br>

    <div>
        <label for="date-of-birth"> Organiser's Date of Birth: </label>
        <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" value="{{ row['DoB'] }}" placeholder="NOT REQUIRED">
    </div>
    
    <br>    
    
    <div>
        <label for='groom-first-name'>Groom's First Name:</label>
        <input type = 'text' id= "groom-first-name" name="groom_first_name" placeholder="Groom's First Name"value="{{ row['GroomFirstName'] }}" required>
    </div>
    
    <br>    
    
    <div>
        <label for='groom-last-name'>Groom's Last Name:</label>
        <input type = 'text' id= "groom-last-name" name="groom_last_name" placeholder="Groom's Last Name"  value="{{ row['GroomLastName'] }}" required>
    </div>
    
    <br>    
    
    <div>
        <label for='bride-first-name'>Bride's First Name:</label>
        <input type = 'text' id= "bride-first-name" name="bride_first_name" placeholder="Bride's First Name" value="{{ row['BrideFirstName'] }}" required>
    </div>
    
    <br>    
    
    <div>
        <label for='bride-last-name'>Bride's Last Name:</label>
        <input type = 'text' id= "bride-last-name" name="bride_last_name" placeholder="Bride's Last Name" value="{{ row['BrideLastName'] }}" required>
    </div>
    
    <br>
    
    <div>
        <label for ='address-line'> Organiser's Address Line:</label>
        <input type = 'text' id="address-line" name="address_line" placeholder="39 Edgehill Rd"  value="{{ row['AddressLine'] }}" required>
    </div>
    
    <br>
    
    <div>
        <label for ='post-code'> Organiser's Post Code:</label>
        <input type = 'text' id="post-code" name="post_code" placeholder="LE4 9EA" value="{{ row['PostCode'] }}" required>
    </div>
    
    <br>

    <div>
        <label for=" date"> Date of Booking: </label>
        <input type="date" id="date" name="date" min="2025-01-01" max="2026-12-31" value="{{ row['Date'] }}"required>
    </div>

    <br>

    <div>
        <label for=" time"> Time of Booking: </label>
        <input type="time" id="time" name="time" step= "900" min="16:30:00" max="21:00:00" value="{{ row['Time'] }}"  required>
    </div>
    
    <button type="submit" id="submit_form" formaction="{{ action_url }}" >Submit Form</button>

</form>  
{% endfor %}

{% endblock %}