{% extends "pages/base_page.html" %}
{% block title %}
Edit Your Nikah
{% endblock %}
{% block content %}
        <h1>Editing Your Nikah </h1>
        {% for row in rows %}
        <form id="idk" action="{{ url_for('routes.editnikahbooking') }}" method="POST">
            <input type="hidden" id="UserID" name="UserID" value="{{ row['UserID']}}"/>

            <input type="hidden" name="NikahID" value="{{ row['NikahID'] }}"/>

            <input type="hidden" name="email" value="{{ row['Email'] }}"/><br>

            <br>First Name: <input type="text" id="first_name" name="first_name" value="{{row['FirstName']}}"/><br>

            <br>Last Name: <input type="text" name="last_name" value="{{ row['LastName'] }}"/><br>

            <br>Groom First Name: <input type="text" name="groom_first_name" value="{{ row['GroomFirstName'] }}"/><br>
            
            <br>Groom Last Name: <input type="text" name="groom_last_name" value="{{ row['GroomLastName'] }}"/><br>

            <br>Bride First Name: <input type="text" name="bride_first_name" value="{{ row['BrideFirstName'] }}"/><br>

            <br>Bride Last Name: <input type="text" name="bride_last_name" value="{{ row['BrideLastName'] }}"/><br>

            <br>Address Line: <input type="text" name="address_line" value="{{ row['AddressLine'] }}"/><br>

            <br>Post Code: <input type="text" name="post_code" value="{{ row['PostCode'] }}"/><br>

            <br>Time: <input type="time" name="time" value="{{ row['Time'] }}"/><br>

            <br>Date: <input type="date" name="date" value="{{ row['Date'] }}"/><br>

            <br><input id="submitForm" type="submit" value="Submit" /><br>
        </form>
        {% endfor %}
{% endblock %}