{% extends "forms/edit_forms/base_edit_form.html" %}

{% block title %} Edit Your Function Booking {% endblock %}

{% block head %} Your Form {% endblock %}

{% block content %}
{% for row in rows %}
<form id = "{{ form_id }}" method = 'POST' action="{{ action_url }}" autocomplete="off">

    <input type="hidden" id="UserID" name="UserID" value="{{ row['UserID']}}"/>
    
    <input type="hidden" name="FunctionID" value="{{ row['FunctionID'] }}"/>

    <input type="hidden" name="email" value="{{ row['Email'] }}"/><br>

    <div>
        <label for='first-name'> First Name: </label>
        <input type = 'text' id="first-name" name="first_name" value="{{row['FirstName']}}" required>
    </div>

    <br>

    <div>
        <label for='last-name'> Last Name: </label>
        <input type = 'text' id= "last-name" name="last_name" value="{{ row['LastName'] }}" required>
    </div>

    <br>
    

    <div>
        <label for='phone-number'>Phone Number:</label>
        <input type="tel" id="phone-number" name="phone_number" placeholder="+447627256926" value="{{ row['PhoneNumber'] }}" pattern="[0-9]{10}">
    </div>

    <br>

    <div>
        <label for="date-of-birth">Date of Birth: </label>
        <input type="date" id="date-of-birth" name="date_of_birth" min="1950-01-01" max="2005-01-01" value="{{ row['DoB'] }}" placeholder="NOT REQUIRED">
    </div>
    
    <br>    
    
    <div>
        <label for ='address-line'>Address Line:</label>
        <input type = 'text' id="address-line" name="address_line" placeholder="39 Edgehill Rd" value="{{ row['AddressLine'] }}" required>
    </div>
    
    <br>
    
    <div>
        <label for ='post-code'>Post Code:</label>
        <input type = 'text' id="post-code" name="post_code" placeholder="LE4 9EA" value="{{ row['PostCode'] }}" required>
    </div>  
    
    <br>Choose an event:     <select id="event_type" name="event_type" required>
        <option value="{{ row['EventType'] }}"> {{ row['EventType'] }} </option>
        <option value="Aqiqah">Aqiqah</option>
        <option value="Walimah">Walimah</option>
        <option value="Other">Other</option>
    </select>

    <br>    
    
    <br> <div>
        <label for=" date"> Date of Booking: </label>
        <input type="date" id="date" name="date" min="2025-01-01" max="2026-12-31" value="{{ row['Date'] }}" required>
    </div>

    <br>

    <div>
        <label for=" time"> Time of Booking: </label>
        <input type="time" id="time" name="time" step= "900" min="16:30:00" max="21:00:00" value="{{ row['Time'] }}"required>
    </div>
    
    <br>
    
    <button type="submit" id="submit_form" formaction="{{ action_url }}" >Submit Form</button>

</form>    
{% endfor %}

{% endblock %}